.full-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.full-box .full-box-content {
}

.full-box .full-box-bottom {
  margin-top: auto;
}

.full-box.result-full-box {
  min-height: calc(100vh - 64px);
}

.result-num-step {
  padding-top: 32px;
  padding-left: 20px;
  padding-bottom: 20px;
  max-width: 375px;
  box-sizing: border-box;
}
