.full-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.full-box .full-box-content {
}

.full-box .full-box-bottom {
  margin-top: auto;
}

.full-box.result-full-box {
  height: calc(100vh - 64px);
  display: block;
}
.full-box.result-full-box .full-box-content {
  height: auto;
}

.full-box.result-full-box .full-box-bottom {
  margin-top: 40px;
}

.result-num-step {
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 375px;
  box-sizing: border-box;
  margin: 0 auto;
}
