.ui-full-page-box .ui-full-page-title.is-ani,
.ui-full-page-box .ui-full-page-img.is-ani,
.ui-full-page-box .ui-full-page-content.is-ani {
  .ui-full-page-before {
    animation-name: fadeOut;
    animation-delay: 0.2s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
  .ui-full-page-after {
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

.ui-full-page-box .ui-full-page-title {

}
.ui-full-page-box .ui-full-page-title,
.ui-full-page-box .ui-full-page-img,
.ui-full-page-box .ui-full-page-content {
  width: 100%;
  position: relative;
}

.ui-full-page-box .ui-full-page-after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
