.bead-relief-img {
  position: relative;
  max-width: 375px;
  padding: 0 38.5px;
  margin: 0 auto;
  box-sizing: border-box;
}
.bead-relief-img .bead-relief {
  width: 100%;
}
.bead-relief-img .bead-relief-spark {
  width: calc(38%);
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translateX(-50%);

  animation-name: fadeInOut;
  animation-delay: 0;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
