.ui-textarea textarea {
  line-height: 27px;

  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 27.2px */
  overflow: hidden;
  resize: none;
  width: 100%;
  border: none;
  max-height: 324px;
  background: transparent;
}

.ui-textarea textarea:focus {
  outline: none;
}
