.btn {
  height: 56px;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 15px 28px;

  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5; /* 24px */
  letter-spacing: 0.091px;

  box-sizing: border-box;
  width: 100%;
}

.btn.btn-primary {
  border-color: #6a55e0;
  background: #6a55e0;
  color: #fff;
}

.btn.btn-secondary {
  border-color: #6a55e0;
  background: #fff;
  color: #6a55e0;
}

.btn.btn-primary:disabled {
  color: #73787e;
  border-color: rgba(78, 78, 80, 0.19);
  background: rgba(78, 78, 80, 0.19);
  background-clip: padding-box;
}

.btn.btn-secondary:disabled {
  background: transparent;
  border-color: rgba(112, 115, 124, 0.22);
  color: #73787e;
}
