.relief-text {
  color: var(--Text-Tertiary, #73787e);
  text-align: center;
  /* 17/Regular */
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 141.2%; /* 24.004px */

  padding-top: 40px;
  text-align: center;
}
